.logoImg {
  width:300px; 
  height: auto; 
}
.bg-secondaryColor {
  background-color: #31d7a9 !important;
}
.bg-mainColor{
  background-color: #042053 !important;
}
.bg-mainLightColor {
  background-color: #0B2657 !important;
}