
  html,
  body {
    position: relative;
    height: 100%;
  }
  
  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
  
  .swiper {
    width: 100%;
    height: 100%;
       
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 1.5rem;
    background: transparent;
    
     /* Center slide text vertically */
    /* display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
     */
  }

  .swiper-slide:hover {
    cursor: pointer;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 4px 6px 5px 2px rgba(187, 187, 190, 0.18);
  }


  .slider-item {
    position: relative;  
     margin: 0 0.1em;
  }

  .slider-item-text {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 1rem;
  max-height: 20%;
  max-width: 90%;
  
  }

  .event-title {
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  }

 .btn-div {
  display: flex;
  justify-content: right;
 }
  
  
  
  